<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'src/logo.png' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link rel="stylesheet" href="{% static 'css/blogs.css' %}" />
    <link rel="stylesheet" href="{% static 'css/blog_detail.css' %}" />
    <link rel="stylesheet" href="{% static 'css/work_style.css' %}" />
    <script
      src="http://code.jquery.com/jquery-latest.min.js"
      type="text/javascript"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title>{% block head_title %}{% endblock %}</title>
  </head>
  <body>
    <div class="navbar_container">
      <div class="navbar-logo">
        <h2>Surafel.<span>melaku</span></h2>
      </div>
      <div class="navbar-menus">
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'work-list' %}">Work</a></li>
          <li><a href="{% url 'blog-list' %}">Blog</a></li>
          <li class="contact-me"><a href="{% url 'contact' %}">Contact</a></li>
          <li>
            <div class="last-list_menus">
              <div class="navbar-image_container" id="search-btn">
                <img src="{% static 'src/search-icon.png' %}" alt="" />
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="navbar-image_container nav-menu-btn">
        <img src="{% static 'src/menu-img.png' %}" alt="" />
      </div>

      <dialog>
        <form action="{% url 'search' %}" role="search">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search blog..."
          />
        </form>
      </dialog>
    </div>
    <div class="base_content_container">{% block content %} {% endblock %}</div>
    <div class="footer_container">
      <div class="footer_newsletter">
        <div class="footer_newsletter-form_container">
          <h1 class="web-title">Subscribe to my newsletter</h1>
          <form id="subscription_form">
            {% csrf_token %}
            <div class="input-field">
              <input
                type="email"
                placeholder="Email"
                id="email"
                name="sub_email"
                class="contact_input"
              />
            </div>
            <button class="button" type="submit">Subscribe</button>
          </form>
          <p class="subscribe_message"></p>
          <p class="subscribe_message_success"></p>
        </div>
      </div>
      <div class="footer_wrapper">
        <div class="footer-social_links">
          <ul>
            <li>
              <a
                href="https://www.linkedin.com/in/surafel-melaku-298421235/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BBcxnKAgZT4uaX0d%2FjyNcyg%3D%3D"
                ><img src="{%  static 'src/linked-icon-1.png' %}" alt=""
              /></a>
            </li>
            <li>
              <a href="https://github.com/Suralmk"
                ><img src="{%  static 'src/github-icon.png' %}" alt=""
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/sural_mk/"
                ><img src="{%  static 'src/instagram-icon-1.png' %}" alt=""
              /></a>
            </li>
          </ul>
        </div>

        <div class="footer-copyright">
          <p>Copyright <i class="ri-copyright-line"></i> All rights reserved</p>
        </div>
      </div>
    </div>

    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <!-- <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script> -->

    <script type="text/javascript">
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }

      $(document).on("submit", "#subscription_form", function (e) {
        e.preventDefault();
        var options;
        if (validateSubscription() === true) {
          $.ajax({
            type: "POST",
            url: "subscribe/",
            dataType: "json",
            data: JSON.stringify({
              email: $("#email").val(),
            }),
            headers: {
              "X-Requested-With": "XMLHttpRequest",
              "X-CSRFToken": getCookie("csrftoken"),
            },
            success: (data) => {
              if (data.error) {
                $(".subscribe_message").addClass("show_sub_message");
                $(".subscribe_message").text(data.error);
              } else {
                $(".subscribe_message_success").addClass(
                  "show_sub_message_success"
                );
                $(".subscribe_message_success").text(data.success);
              }
            },
          });
        } else {
          return;
        }
      });

      const validateSubscription = () => {
        var valid = true;

        if ($(".contact_input").val() === "") {
          $(".subscribe_message").addClass("show_sub_message");
          $(".subscribe_message").text("Email is required!");
          valid = false;
        }

        return valid;
      };
    </script>
  </body>
</html>
