{% extends 'PortfolioApp/base.html' %} {% load static %} {% block head_title %}
Home, Surafel Melaku {% endblock %} {% block content %}

<div class="home_container">
  <div class="home-hero_container">
    <div class="home-hero_wrapper">
      <div class="home-hero_description">
        <h1 class="web-header">
          Hi, I am Surafel Melaku <br />
          <span>Full stack Web Developer</span>
        </h1>
        <p class="web-text">
          I build secure, fast and reliable web applcations using
          <span>Python</span> and <span>Javascript</span>.
        </p>
        <p class="web-text">
          Webs are the best way to make a business go big and solve huge problems. So,
          if you are facing a problem or in need of making your business go big
          than it is now, please do not hesitate to contact me.
        </p>

        <a href="{% static 'src/files/Surafel-Melaku-cv.pdf' %}" download class="button">Download Resume</a>
      </div>

      <div class="home-hero_picture">
        <img src="{% static 'src/me.jpg' %}" alt="" />
      </div>
    </div>
  </div>
  <div class="home-aboutme_container" id="about">
    <div class="home-aboutme_wrapper">
      <p class="web-title">About Me</p>
      <div class="aboutme-container">
        <div class="aboutme-container_picture">
          <img src="{% static 'src/me-3.jpg' %}" alt="about me image" />
        </div>

        <div class="aboutme-container_description">
          <p class="web-text">
            I am a fourth year Software Enginiering Student at Wollo University
            who is passionate about building web applcation and at all
            the tech world.
            <br /><br />
            I am currently skilled in python and Javascript incluing frameworks
            Django, Django REST Framework for building Rest Api, Django channels
            for building real time applcations, React.js for frontend and React
            Native for building Mobile Applcations.
            <br /><br />
            I use MySQL, PostgeSQL as a main database and I use Redis for cache
            managment.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="home-skills_container">
    <div class="home-skills_wrapper">

      <h1 class="web-title">Skills</h1>

      <div class="skills-container">
        <div class="skills-container_set">
          <h1 class="web-title">Frontend Development</h1>
          <ul>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/html.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>Html</h4>
                <span class="bar"><span class="html"></span></span>
              </div>
            </li>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/css.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>CSS</h4>
                <span class="bar"><span class="css"></span></span>
              </div>
            </li>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/javascript.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>JavaScript</h4>
                <span class="bar"><span class="javascript"></span></span>
              </div>
            </li>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/react.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>React.js</h4>
                <span class="bar"><span class="react"></span></span>
              </div>
            </li>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/figma.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>Figma</h4>
                <span class="bar"><span class="figma"></span></span>
              </div>
            </li>
           
          </ul>
        </div>
        <div class="skills-container_set">
          <h1 class="web-title">Backend Development</h1>
          <ul>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/python.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>Python</h4>
                <span class="bar"><span class="python"></span></span>
              </div>
            </li>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/django-2.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>Django</h4>
                <span class="bar"><span class="django"></span></span>
              </div>
            </li>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/Rest-2.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>Django REST Framework</h4>
                <span class="bar"><span class="rest"></span></span>
              </div>
            </li>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/mysql.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>MySQL</h4>
                <span class="bar"><span class="mysql"></span></span>
              </div>
            </li>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/postgre.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>PostgreSQL</h4>
                <span class="bar"><span class="postgre"></span></span>
              </div>
            </li>
            <li>
              <div class="skill-image">
                <img src="{% static 'src/skills/redis.png' %}" alt="">
              </div>
              <div class="skill-bar">
                <h4>Redis</h4>
                <span class="bar"><span class="redis"></span></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="home-works_container">
    <div class="home-works_wrapper">
      <h1 class="web-title">Featured Works</h1>

      <div class="works-container">
        {% for work in works %}
        <div class="work-container">
          <div class="work-container_picture">
            <img
              src="{{ work.work_picture.url  }}"
              alt="eco heaven image"
            />
          </div>
          <div class="work-container_description">
            <p class="work-title">{{ work.work_title }}</p>
            <p class="web-date">{{ work.work_year }}</p>
            <div class="work-techcontainer">
              {% for work_tech in work.work_technology.all  %}
              <p class="work-tech">{{ work_tech.tech }}</p>
              {% endfor %}
            </div>
            <p class="web-text">
              {{ work.work_presentaion }}
            </p>
            <a href="{% url 'work-detail' work.get_slug work.id  %}" class="web-link">read more</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="home-blog_container">
    <div class="home-blog_wrapper">
      <h1 class="web-title">Recent Blogs</h1>
      <div class="blogs-container">
        {% for blog in blogs %} {% if forloop.counter < 3 %}
        <div class="blog-container">
          <div class="blog-container_description">
            <h1 class="web-title">{{ blog.blog_title }}</h1>
            <div class="blog-date_key">
              <p class="web-text">{{ blog.blog_date|date }}</p>
              <div></div>
              {% for keyword in blog.blog_key_word.all %}
              <p class="web-text">{{ keyword.key_word }}</p>
              {% endfor %}
              <p class="web-text">Django</p>
            </div>
            <p class="web-text text-limit">{{ blog.blog_content}}</p>
            <a
              href="{% url 'blog-detail' blog.get_slug blog.id %}"
              class="web-link"
              >read more</a
            >
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
  <div class="home-map_container">
    <div class="home-map_wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4068.816071086805!2d39.6334172933454!3d11.121872214134514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x16470b205dbe5969%3A0xda16ad0c78c13db5!2sDese!5e1!3m2!1sen!2set!4v1708419773473!5m2!1sen!2set"
        width="1120"
        height="500"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
{% endblock %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis explicabo veniam provident non laudantium velit exercitationem nemo et ipsa error incidunt temporibus earum odio fuga, recusandae quia eligendi suscipit quo.